name: Publish to pub.dev

on:
  push:
    tags:
      - 'zema-*'
      # - '*' # Allow any tag

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      id-token: write # Required for authentication using OIDC
    steps:
      - uses: actions/checkout@v4
      
      - uses: dart-lang/setup-dart@v1
        with:
          sdk: "3.9.0"

      - name: Cache pub
        uses: actions/cache@v3
        with:
          path: ~/.pub-cache
          key: pub-${{ runner.os }}-${{ hashFiles('**/pubspec.lock') }}
      
      - name: Install Melos
        run: dart pub global activate melos 7.4.0
      
      - name: Bootstrap
        run: melos bootstrap
      
      - name: Run tests
        run: melos test
      
      - name: Publish to pub.dev
        run: |
          cd packages/zema
          dart pub publish --force